/*モーダルを閉じる*/
$("#destroyQuestionModal").modal("toggle");

/*削除した問いをセレクトボックスに反映させる*/
var delete_selectbox = $('select[id=delete-question-list]');

delete_selectbox.children('option[value=<%= @article_question.id %>]').remove();

$(`.question-list`).children("option[value=<%= @article_question.id %>]").remove();

/*フラッシュ*/
<% if flash.now[:notice] %>
  $("#flash").html(`<p class="alert alert-success mb-0"><%= flash.now[:notice] %></p>`)
<% elsif flash.now[:alert] %>
  $("#flash").html(`<p class="alert alert-danger mb-0"><%= flash[:alert] %></p>`)
<% end %>