version: 2.1
jobs:
  build:
    docker:
      - image: circleci/ruby:2.7.1-buster
        environment:
          RAILS_ENV: test
      - image: circleci/mysql:latest
        command: mysqld --default-authentication-plugin=mysql_native_password
        environment:
          MYSQL_ALLOW_EMPTY_PASSWORD: true
          MYSQL_USER: root
          MYSQL_ROOT_PASSWORD: rootroot
          MYSQL_DATABASE: digmemo_test
          MYSQL_ROOT_HOST: "%"
          MYSQL_PORT: 3306
    working_directory: ~/digmemo
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "Gemfile.lock" }}
            - v1-dependencies-
      - run:
          name: install dependencies
          command: |
            gem install bundler -v 2.0.1
            bundle install --jobs=4 --retry=3 --path vendor/bundle
      - save_cache:
          paths:
            - ./vendor/bundle
          key: v1-dependencies-{{ checksum "Gemfile.lock" }}
      - run:
          name: Install Node.js
          command: |
            curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.34.0/install.sh | bash
            . ~/.nvm/nvm.sh
            nvm install node
      - restore_cache:
          keys:
            - digmemo-yarn-{{ checksum "yarn.lock" }}
            - digmemo-yarn-
      - run:
          name: Yarnã‚’install
          command: |
            curl -sS https://dl.yarnpkg.com/debian/pubkey.gpg | sudo apt-key add -
            echo "deb https://dl.yarnpkg.com/debian/ stable main" | sudo tee /etc/apt/sources.list.d/yarn.list
            sudo apt update && sudo apt install --no-install-recommends yarn
      - run:
          name: Install chrome
          command: |
            wget -q -O - https://dl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
            echo 'deb http://dl.google.com/linux/chrome/deb/ stable main' | sudo tee /etc/apt/sources.list.d/google-chrome.list
            sudo apt update -y
            sudo apt install -y google-chrome-stable
      # Database setup
      - run:
          name: Prepare db
          command: |
            bundle exec rails db:schema:load --trace
      # run tests!
      - run: bundle exec bin/webpack
      - run:
          name: Run rspec
          command: |
            mkdir /tmp/test-results
            TEST_FILES="$(circleci tests glob "spec/**/*_spec.rb" | circleci tests split --split-by=timings)"
            bundle exec rspec --format progress --color --format documentation

      # collect reports
      - store_test_results:
          path: /tmp/test-results
      - store_artifacts:
          path: /tmp/test-results
          destination: test-results
