<header class="header">
  <div class="header__logo">
    <a href="#"><img src="/assets/logo.png" alt=""/></a>
  </div>
  <nav>
    <ul class="header__list">
      <li class="header__list__item"><a href="#">新規登録</a></li>
      <li class="header__list__item"><a href="#">ログイン</a></li>
    </ul>
  </nav>
</header>
