<section class="mv">
  <div class="mv__text">
    <h2>思考を深掘りする</h2>
    <p>このサービスではあなたの思考を深掘りすることを助けます。</p>
  </div>
</section>

<section class="description">
  <h1 class="description__title">使える機能</h1>
  <div class="description__wrapper">
    <div class="description__item">
      <i class="fas fa-pen fa-2x"></i>
      <h3>
        メモ機能
      </h3>
    </div>

    <div class="description__item">
      <i class="fas fa-divide fa-2x"></i>
      <h3>
        カテゴリ分け機能
      </h3>
    </div>

    <div class="description__item">
      <i class="fab fa-searchengin fa-2x"></i>
      <h3>
        メモ検索機能
      </h3>
    </div>
  </div>
</section>

<%= render partial: "shared/footer" %>