@mixin container {
  max-width: 80%;
  margin: 0 auto;
}

.header {
  @include container;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;

  &__logo img,
  &__list {
    line-height: 60px;
  }

  &__list {
    display: flex;
    list-style: none;
    &__item {
      &:nth-child(2) {
        margin-left: 15px;
      }
      & a {
        text-decoration: none;
        color: gray;
      }
    }
  }
}