// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@mixin container {
  max-width: 1140px;
  margin: 0 auto;
  width: 80%;
}

@mixin center {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  @include container;
}

.main-section {
  background-image: url("/assets/fancy-cushion");
  height: 700px;
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  &__cover {
    background-color: white;
    max-width: 700px;
    width: 80%;
    padding: 80px 100px;
    border-radius: 50%;
    @include center;
    & h2,
    p {
      color: black;
      // color: white;
      text-align: center;
      font-weight: 500;
    }
    & h2 {
      font-family: "Pangolin", cursive;
      font-weight: 200;
      font-size: 3rem;
      margin-bottom: 20px;
    }
    & p {
      font-size: 1.5rem;
    }
  }

  .speech-bubble {
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 63%;
    left: 65%;
    height: 55px;
    width: 100px;

    &:nth-child(2) {
      height: 50px;
      width: 80px;
      top: 73%;
      left: 77%;
    }
    &:nth-child(3) {
      top: 82%;
      left: 90%;
      height: 40px;
      width: 60px;
    }
  }
}

.description {
  height: auto;
  @include container;
  text-align: center;
  margin: 80px auto 0 auto;

  &__title {
    margin: 0 0 10px;
    font-weight: 700;
  }

  &__subtitle {
    font-weight: 700;
  }

  &__text {
    font-size: 1.2rem;
  }
  &__movie {
    max-width: 800px;
    width: 90%;
    height: auto;
    border: 2px solid black;
    border-radius: 20px;
  }
}

.function {
  margin: 80px 0;
  &__title {
    text-align: center;
  }

  &__wrapper {
    max-width: 50%;
    margin: 0 auto;
    border: 10px black solid;
    border-radius: 20px;
    padding: 40px 0;
  }

  &__item {
    text-align: center;

    span {
      margin-left: 10px;
    }

    h3 {
      margin: 0;
    }
    &:nth-child(3) {
      p {
        margin: 0;
      }
    }
  }
}

.footer {
  height: 80px;
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
  & p {
    @include center;
    color: white;
  }
}
