<p>こんにちは <%= @resource.username %>さん！</p>

<p>下記のリンクからパスワード変更ページへ行くことが出来ます。</p>

<p><%= link_to 'パスワード変更ページへ', edit_user_password_url(@resource,reset_password_token: @token) %></p>

<p>もしこのメールに見覚えが無ければ、無視してください。</p>
